*{
    padding: 0;
    margin: 0;
}
body{
font-family:'Times New Roman', Times, serif Tahoma, sans-serif;
background-color: #fffcf6;   

}
.hero{
  display: flex;
  justify-content: space-between;
  height:100vh;
  width: 100%;
  background-image: url("assets/plant.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  
}
header{
    display: flex;
    justify-content: space-between;
}
header .store_title{
  
    font-size: 35px;
    text-align: center;
    color: #507947;
    margin-right:50px ;
    margin-left: 20px;
    margin-top: 20px;
}
ul{
    margin-right: 100px;
    margin-top: 20px;
    list-style: none;
    display:block; 
    display: flex;
    justify-content: space-between;
    
}
ul li a{
    display: none;
   margin-left: 20px;
    text-decoration: none;
    padding-left: 17px;
    list-style: none;
    color: #507947;  
    font-size: 20px;
    
    
}
ul li:hover{
   
    list-style:none;
    color: #23bd00;  
    text-decoration: underline;
    font-size: 20px;
    
    
}


.burger-menu{
   display: block;  
   height: 30px;
   width: 30px;
   margin-top: 20px;
   margin-right: 10px;
}
.one{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.category,
.about_title{
   margin-top: 20px;
   margin-bottom: 20px;
   font-size: 35px;
    color: #507947;  
    text-align: center;
}
.cards{
    display: grid;
    grid-template-columns: repeat(1,90%);
    place-content: center;
    row-gap: 10px;
}
.card{
 
    height: 400px;
    width: 300px;
    border-radius: 10px;
    border: 1px solid green;
    background-color: #fffcf6;
    text-align: center;
    overflow: hidden;
  }
  .image{
    height: 25vh;
    width: auto;
    object-fit: contain;
    margin-top: 5px;
    border-radius: 5px;
  }
  .info{
    
    height: 30vh;
    width: auto;
    background-color: wheat;
    padding: 5px;
}
    .two{
    display: grid;
     margin: 10px;
     justify-content: center;
     width: 100%;
    
    }
   .two .about{
    
    position: relative;
   
   }
    .two .about .about_image{
    width: 100%;
    object-fit: cover;
    margin-top: 5px;
    
    }
    .two .about .about_description{
        position: absolute;
        bottom: 4px;
        font-size: 20px;
        overflow: hidden;  
        background-color:rgba(70, 175, 72, 0.7);
       color: white;
    }
    footer{
        width: 100%;
        height: 50px;
        background-color: #79a86e;  
        display: flex;
        justify-content: center;
        align-items: center;
      }

footer .footerpara{
    font-size: 35px;
    padding: 5px;
}
@media only screen and (min-width: 900px){
    ul li a{
        display: block;}
        .burger-menu{
            display: none;  }
            .cards{
                display: grid;
                grid-template-columns: repeat(2,50%);
                place-content: center;
                column-gap: 10px;
            }
}
